{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

	<div id="container" class="container">
		{% include 'AppBundle::page/modules/slideA.html.twig' %}
		{% include 'AppBundle::page/modules/slideB.html.twig' %}
		<div class="row">
			<div class="col-xs-12">
				<div ng-view></div>
			</div>
		</div>
	</div>

	<script>var title="{{ title }}";</script>
	<script>var intro="{{ intro }}";</script>

{% endblock %}
