<script type="text/ng-template" id="/modules/slideB.html">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>{{ title }}</h2>
			<h3>[[ subtitle ]]</h3>
			<a class="btn btn-default" ng-click="gotoView('home/a')">CHANGE SUBVIEW</a>
		</div>
	</div>
</script>
