<script type="text/ng-template" id="modules/page1_1.html">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{ pagina2 }} : 2 : [[ pagina ]]</h2>
            <a class="btn btn-default" ng-click="gotoView('page1_2')">CHANGE</a>
        </div>
    </div>
</script>
