<script type="text/ng-template" id="modules/page1_2.html">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{ pagina1 }} : 1 : [[ pagina ]]</h2>
            <a class="btn btn-default" ng-click="gotoView('page1_1')">CHANGE</a>
        </div>
    </div>
</script>
